tests/cxx/tree/any-type/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="any-list">
    <!--Not allowed? list itemType="anySimpleType"/-->
    <list itemType="string"/>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="t" type="anyType" maxOccurs="unbounded"/>
      <element name="s" type="anySimpleType" maxOccurs="unbounded"/>
      <element name="l" type="t:any-list" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="a" type="anySimpleType" default="default value"/>
  </complexType>

  <element name="root" type="t:type"/>
</schema>
